<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GSUserLocationAndNearbyPlaces.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B6F40F11CE3ADE900919732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B6F410A1CE3ADE900919732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B6F41151CE3ADE900919732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
